body{ 
  background-color:orange;
}

*{
  font-family: sans-serif;
}


.box {

  border: 2px solid black;

  min-height: 68vh;

  width: 500px;

  margin: 25vh auto;

  background-color: white;
}

.form {

  display: flex;

  flex-direction: column;

  padding: 10px;

}

#btn {

  width: 80%;

  padding: 10px;

  margin: 40px auto auto 50px;

  background-color: blue;

  border-radius: 5px;

  font-size: medium;
  align-self: center;

}


h1 {
  text-align: center;
  border-bottom: 1px solid black;
 width: fit-content;
 
 margin : 10px auto;
}


.mine {

   height: 25px;
}


span {
  color: red;
}


.error-border {

  border: 2px solid red;
}


.success-border {

  border: 2px solid green;
}
